<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="UITest">
		<parameter name="Browser" value="chrome" />
		<parameter name="EnvironmentURL" value="https://stackoverflow.com/" />
		<classes>
			<class name="testcases.UICases" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="APITest">
		<parameter name="Browser" value="API" />
		<parameter name="EnvironmentURL" value="https://api.stackexchange.com/2.3/badges" />
		<classes>
			<class name="testcases.APICases" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
